@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        padding: 20px;
    }

    .hero {
        height: auto;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .hero-content {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 50px;
    }
    .hero-content h1 {
        font-size: 2em;
    }
    .character-placeholder {
        width: 80px;
        height: 140px;
        right: 5%;
        bottom: 10px;
    }

    .celestial-body { 
        width: 50px;
        height: 50px;
    }

    .advantages-container {
        flex-direction: column;
        align-items: center;
    }
    .advantage-item {
        flex-basis: 100%;
        margin: 20px 0;
        max-width: 90%;
        text-align: center;
    }
    .advantage-icon {
        margin-left: auto;
        margin-right: auto;
    }
    .black-advantage h2 {
        text-align: center;
        margin-left: 0;
    }

    .analysis-wealth {
        flex-direction: column;
        padding: 50px 5%;
    }
    .analysis-content {
        text-align: center;
        margin-bottom: 40px;
    }
    .analysis-content h2 {
        font-size: 2em;
    }
    .analysis-content p {
        max-width: 100%;
    }
    .constellation-background {
        height: 300px;
    }
    .character-looking-up-placeholder {
        width: 150px;
        height: 220px;
    }

    .constellation-background::before {
        width: 2px;
        height: 200px;
        top: 6%;
        left: 13%;
        transform: rotate(30deg);
        box-shadow: 0 0 5px rgba(126, 87, 194, 0.8);
    }

    .constellation-background::after {
        width: 2px;
        height: 195px;
        top: 4%;
        left: 99%;
        transform: rotate(-25deg);
        box-shadow: 0 0 5px rgba(126, 87, 194, 0.8);
        z-index: 6;
    }

    .hamburger-menu {
        display: flex;
        order: 3;
    }
    .main-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        background-color: #2c2a6ba1;
        backdrop-filter: blur(33px);
        z-index: 100;
        text-align: center;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform: translateX(100%);
        opacity: 0;
    }

    .main-nav.main-nav-open {
        display: flex; 
        transform: translateX(0%);
        opacity: 1;
    }

    .main-nav a {
        margin: 0;
        padding: 20px 15px;
        width: 100%;
        color: var(--current-hero-text-color);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    }
    .main-nav a:last-child {
        border-bottom: none;
    }
    .main-nav a:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: var(--current-navbar-link-hover-text-color);
    }

    .login-btn-desktop {
        display: none;
    }
}